<h1>The museum of <%= curator.name %></h1>
<ul>
  <% curator.exhibits.forEach(function(exhibit, i) { %>
    <li>
      <a href="<%= 'exhibit/' + i %>"><%= exhibit.name %></a>
    </li>
  <% }); %>
</ul>
