<div id="outer_wrapper">
    <div id="wrapper" class="pictures">
        <div id="scroller">
            <ul>
                <li id="first">
                    <h1>Faith Hope Love</h1>
                    <p>Curated by John Dove</p>
                </li>
                <li>
                    <img src="http://placekitten.com/306/200">
                </li>
                <li>
                    <img src="http://placekitten.com/180/250">
                </li>
                <li>
                    <img src="http://placekitten.com/306/350">
                </li>
                <li>
                    <img src="http://placekitten.com/306/310">
                </li>
                <li>
                    <img src="http://placekitten.com/306/220">
                </li>
                <li id="last">

                </li>
            </ul>
        </div>
        <div id="watcher"></div>
    </div>
</div>
<script src="/javascripts/iscroll.js"></script>
<script>
    var myScroll;
    function loaded() {
        myScroll = new iScroll('wrapper');
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
</script>
