<div id="outer_wrapper">
    <div id="wrapper" class="pictures">
        <div id="scroller">
            <ul>
                <li id="first">
                    <h1>Faith Hope Love</h1>
                    <p>Curated by John Dove</p>
                </li>
                <li>
                    <a href="/search" rel="lightbox"><img src="http://placekitten.com/306/200"></a>
                </li>
                <li>
                    <a href="/search" rel="lightbox"><img src="http://placekitten.com/180/250"></a>
                </li>
                <li>
                    <a href="/search" rel="lightbox"><img src="http://placekitten.com/306/350"></a>
                </li>
                <li>
                    <a href="/search" rel="lightbox"><img src="http://placekitten.com/306/310"></a>
                </li>
                <li>
                    <a href="/search" rel="lightbox"><img src="http://placekitten.com/306/220"></a>
                </li>
                <li id="last">

                </li>
            </ul>
        </div>
        <div id="watcher"></div>
    </div>
</div>
<script src="/javascripts/iscroll.js"></script>
<script>
    var myScroll;
    function loaded() {
        myScroll = new iScroll('wrapper');
    }
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    document.addEventListener('DOMContentLoaded', loaded, false);
</script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script>
    $("a[rel=lightbox]").fancybox({
        height: 500,
        width: 700,
        type: "iframe",
        showNavArrows: false,
        scrolling: "no",
        autoDimensions: false
    });
</script>
