<form action="search" method="get" id="search_form">
  <input type="text" name="q" placeholder="Find some items..."
    <% if (searchString) { %>value="<%= searchString %>"<% } %>>
  <button type="submit">Search</button>
</form>

<% if (searchString){ %>
  <% if (items && items.length) { %>
    <ul class="itemlist jcarousel-skin-ville" id="carousel">
      <% for (var i=0; i<items.length; i++) {%>
        <li>
          <a href="<%= items[i].link %>">
            <img src='<%= items[i].enclosure['@'].url %>'/>
          </a>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>No images matches your search</p>
  <% } %>
<% } %>
