<script>
  $(function () {
    $('.itemlist > li > a[href]').click(function() {
      var $it = $(this);
      // TODO: user from session...
      var exhibitSlug = prompt('Add to exhibit:', "/ted/exhibit/0");
      if (exhibitSlug) {
        var item = {
          subject: $it.attr('href'),
          label: {"en": $('span', $it).text()},
          thumbnail: $('img', $it).attr('src')
        };
        $.post(exhibitSlug, item, function () {}, "json");
      }
      return false;
    });
  });
</script>

<h1><%= title %></h1>

<ul class="itemlist">
  <% for(var i=0; i<items.length; i++) {%>
    <li>
      <a href="<%= items[i].link %>">
        <span class="title"><%= items[i].title %></span>
        <img src='<%= items[i].enclosure['@'].url %>'/>
      </a>
    </li>
  <% } %>
</ul>
