<h1>Search Results</h1>

<ul class="itemlist">
  <% for(var i=0; i<items.length; i++) {%>
    <li>
      <a href="<%= items[i].link %>">
        <span class="title"><%= items[i].title %></span>
        <img src='<%= items[i].enclosure['@'].url %>'/>
      </a>
    </li>
  <% } %>
</ul>
