.jcarousel-skin-ville .jcarousel-container-horizontal {
    padding: 20px 50px;
}
.jcarousel-skin-ville .jcarousel-clip {
    overflow: hidden;
    width: 100%;
}
    .jcarousel-skin-ville .jcarousel-clip-horizontal {
        height: 150px;
    }
.jcarousel-skin-ville .jcarousel-item {
    height: 150px;
}
    .jcarousel-skin-ville .jcarousel-item-horizontal {
        margin-left: 0;
        margin-right: 10px;
    }
    .jcarousel-skin-ville .jcarousel-item-placeholder {
        background: #fff;
        color: #000;
    }

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ville .jcarousel-next-horizontal,
.jcarousel-skin-ville .jcarousel-prev-horizontal {
    position: absolute;
    top: 60px;
    width: 32px;
    height: 63px;
    cursor: pointer;
}
.jcarousel-skin-ville .jcarousel-next-horizontal {
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    right: 5px;
}
    .jcarousel-skin-ville .jcarousel-next-disabled-horizontal {
        cursor: default;
        background-position: 0 0;
    }
.jcarousel-skin-ville .jcarousel-prev-horizontal {
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
    left: 5px;
}
    .jcarousel-skin-ville .jcarousel-prev-disabled-horizontal {
        cursor: default;
        background-position: 0 0;
    }
